.footer {
  background-color: #152238;

  color: white;
}

.footer h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer ul li {
  margin-top: 0px;
}
.footer ul li a {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.footer ul li a:hover {
  transform: translateY(-5px);
}

.footer .social-media {
  text-align: center;
  margin-top: 10px;
}

.footer .social-media li {
  display: inline-block;
  margin-right: 5px;
}

.footer .social-media li:last-child {
  margin-right: 0;
}

.iconss {
  display: inline-block;
  color: #fff;
  width: 100px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  margin-right: 20px;
}
.footer .social-media li a {
  display: inline-block;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #18325e;
  transition: all 0.2s ease-in-out;
}

.footer .social-media li a:hover {
  background-color: #fff;
  color: #555;
  transform: translateY(-5px);
}
.col-md-4 {
  padding-left: 5%;
  width: 40%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  .col-md-4 {
    padding-left: 30px;
    width: fit-content;
  }
  .footer h3 {
    margin-top: 40px;
  }
  .row {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .social-media {
    text-align: center;
    margin-top: 5px;
  }
}
